@media screen and (max-width: 992px){
	.info-column {
		flex-wrap: wrap;
	}

	.info__item {
		flex: 1 1 100%;
	}

	.info__item-text {
		max-width: 100%;
	}

	.info__item {
		align-items: flex-end;
		margin-bottom: 30px;
	}

	.info__item-img {
		max-width: 100%;
		width: 100%;
	}

	.info-column_reverse {
		flex-direction: column-reverse;
	}

	.info-list {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		margin-bottom: 40px;
	}

	.info-list__item {
		display: inline-block;
		list-style: initial;
		margin-right: 20px;
		margin-bottom: 20px;
		text-decoration: underline;
	}

	.info__item-title {
		display: block;
		margin-bottom: 20px;
	}

	.info__item:nth-child(odd) {
		margin-right: 0;
	}
}

/*=================================================================*/
/*=================================================================*/

@media screen and (max-width: 768px){
	
}

/*=================================================================*/
/*=================================================================*/

@media screen and (max-width: 576px){
	.slick-dots {
		left: 50%;
		transform: translateX(-50%);
	}
	.logo {
		margin-bottom: 0;
	}
	.logo img {
		width: 110px;
	}
	.menu__item {
		left: 60px;
	}
	.header-title {
		margin-bottom: 0;
	}
	.header__text {
		font-size: 18px;
		max-width: 100%;
	}
	.header__btn {
		max-width: 100%;
		width: 100%;
	}
	.slick-dots {
		bottom: 15%;
	}
	.about-table__td_red {
		font-size: 12px;
	}
	.about-table__td_title {
		font-size: 16px;
	}
	.about-table__td_namber {
		line-height: 60px;
	}
	.about-table__td_namber span {
		font-size: 14px;
	}
	.about {
		padding: 50px 0 25px;
	}
	.about-top {
		margin-bottom: 55px;
	}
	.about-bottom__img {
		height: auto;
	}
	.info-column {
		margin-bottom: 25px;
	}
	.info-list__item {
		width: 100%;
	}
	.info-list {
		text-align: left;
	}
}